<!DOCTYPE html>
<html>
<head>
    <title>ログイン</title>
    <style>
        .si {
            background-color: #20284B; 
            color: white;
            display: inline-block;
            padding: 5px 10px; 
            cursor: pointer; 
            text-decoration: none;
            border-radius: 4px;
            border: none;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <h1>ログイン</h1>
    <form method="POST">
        <label>メールアドレス:</label><br>
        <input type="email" name="email" required><br>
        <label>パスワード:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit" class="si">ログイン</button>
    </form>
</body>
</html>
