<!DOCTYPE html>
<html>
<head>
    <title>サインイン</title>
</head>
<body>
    <h1>サインイン</h1>
    <form method="POST">
        <label>メールアドレス:</label><br>
        <input type="email" name="email" required><br>
        <label>名前:</label><br>
        <input type="text" name="name" required><br>
        <label>パスワード:</label><br>
        <input type="password" name="password" required><br>
        <label>学部:</label><br>
        <input type="text" name="faculty" required><br><br>
        <button type="submit">登録</button>
    </form>
</body>
</html>
